header {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 11.2rem;
    display: flex;
    align-items: center;
    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    p {
        color: #FFF;
        font-size: 1.3rem;
        line-height: normal;
    }
}