h1, h2, h3 {
    font-family: 'Montserrat',sans-serif;
    line-height: 150%; /* 1.6875rem */
}

h1, h2 {
    font-weight: 700;
}

h2, h3 {
    color: #2F3133;
}


h1 {
    color: #FFF;
    font-size: 6.4rem;
    letter-spacing: -0.04rem;
}

h2 {
    font-size: 3.2rem;
    letter-spacing: -0.02rem;
}

h3 {
    font-size: 1.8rem;
    font-weight: 600;
}